@import "../../common.scss";

.todoListItem {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    .todoActionsDelete {
      display: initial;
    }
  }
}

.todoTaskChecked {
  max-width: 80%;
  text-decoration: line-through;
}

.todoTaskNotChecked {
  max-width: 80%;
  text-decoration: none;
}

.todoActionsContainer {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.todoActionsCheckbox,
.todoActionsDeleteContainer {
  flex: 1;
}

.todoActionsDeleteContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.todoActionsDelete {
  width:20px;
  @include respond(phone){
    width:15px;
  }
  color: white;
  filter: $error-svg;
  display: none;
  &:hover {
    cursor: pointer;
  }
}
