@import "../../common.scss";

.todoEntryWrapper {
  width: 100%;
  display: flex;
}

.todoInput {
  padding: 10px;
  width: 80%;
  border: 1px solid $typography;
  &:focus {
    outline: none !important;
    border: 1px solid $typography;
  }
  @include respond(phone) {
    padding: 5px;
  }
}

.todoButton {
  width: 15%;
  margin-left: 5%;
  background-color: $secondary;
  color: white;
  filter: $boxfilter;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: $light-secondary;
    cursor: pointer;
  }
}
