<<<<<<< HEAD
@import "../../common.scss";

.navbarContainer{
    padding:20px;
    text-align: center;
    background-color: $primary;
}
=======
.navbarContainer {
  padding: 20px;
  text-align: center;
}
>>>>>>> 4705ecb (todoapp-task-1 navbar tests added)
