@import "mixins";

$primary: #ed7d3a;
$secondary: #2fbf71;
$light-secondary: #8cd867;
$typography: #363537;
$error: #ef2d56;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1rem;
  word-wrap: break-word;
  @include respond(phone) {
    font-size: 0.8rem;
  }
}

html,
body {
  width: 100%;
}
